@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-azul-claro: #D6E9F0;
    --cor-verde-escuro: #106da7;
    --cor-verde-medio: #106da71a;
    --cor-azul-escuro: #010B15;
    --cor-branca: #fff;
    --cor-cinza: #c8c8c8;
}

body {
    font-family: 'Roboto', sans-serif;
}

.lancamentos__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 1rem;
}

.lancamento {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.lancamento:nth-child(-n+2) {
    margin-top: 0;
}

.mais__lancamentos-btn,
.menos__lancamentos-btn {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    height: 3.5rem;
    color: #ffffff81;
    letter-spacing: 0.1rem;
    font-weight: 100;
    font-size: 0.7rem;
    margin-top: 0.5rem;
}

.flecha__icone-baixo {
    margin-bottom: 1.3rem;
}

.flecha__icone {
    position: relative;
    width: 1.5rem;
    height: auto;
    border: none!important;
    animation: moveY 0.5s infinite alternate;
}

@keyframes moveY {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }
}

.borda__imagem__lancamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.lancamento img {
    border-radius: 0.2rem;
    transition: transform 0.3s ease;
}

.lancamento img:hover {
    transform: scale(1.1);
}

.lancamento__img{
    background-color: var(--cor-branca);
}

.mais-detalhes {
    display: flex;
    align-self: flex-end;
    font-size: 0.8rem;
    margin: 0.5rem;
    color: #ffffff81;
    text-transform: lowercase;
    text-decoration: underline;
    transition: all 0.5s ease;
}

.mais-detalhes:hover {
    color: #fff;
    cursor: pointer;
    font-size: 0.9rem;
    border-bottom: 0.1rem solid #fff;
}

.lancamento__paragrafo {
    align-self: center;
    font-size: 0.9rem;
    color: var(--cor-branca);
    padding: 0.2rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1rem;
    text-align: justify;
    width: 100%;
}

.lancamento__paragrafo-preco {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: right;
}

.p__disponivel {
    display: inline-flex;
    font-size: 0.8rem;
    color: #fff;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 0.3rem;
    text-decoration: none;
}

.link__estoque {
    text-decoration: none;
}

.lancamento__btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 2rem;
    width: 8rem;
    background-color: darkgreen;
    color: var(--cor-branca);
    text-transform: uppercase;
    padding: 0.2rem;
    border-radius: 0.1rem;
    border: 1px solid #ffffff39;
    letter-spacing: 0.2rem;
    font-size: 0.7rem;
    font-weight: 100;
    transition: background-color 0.3s ease;
}

.lancamento__btn:hover {
    background-color: green;
}

.lancamento__btn a {
    color: white;
    text-decoration: none;
    font-weight: 100;
}

.container__botoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vermail {
    font-size: 0.8rem;
    color: #ffffff81;
    text-transform: lowercase;
    text-decoration: underline;
    transition: all 0.5s ease;
}

.vermail:hover {
    color: #fff;
    cursor: pointer;
    font-size: 0.9rem;
}

.lista_img_destaque {
    display: none;
    width: 90%;
    height: 4rem;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-verde-medio);
    gap: 1rem;
    margin: 0.3rem 0;
    padding-inline: 1rem;
    border-radius: 0.5rem;
    position: relative;
}

.img__troca {
    width: 100%;
    max-width: 200px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.img__troca.ampliada {
    transform: scale(2);
    z-index: 10;
}

.img-lista {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 5rem;
    background-color: var(--cor-cinza);
    border-radius: 0.2rem;
}

.img-lista img {
    width: 3rem;
    height: 10vh;
}

.hidden {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-out, max-height 0.5s ease-out;
}

.visible {
    opacity: 1;
    max-height: 500px;
    transition: opacity 0.5s ease-in, max-height 0.5s ease-in;
}