@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}


:root {
    --cor-azul-claro: #D6E9F0;
    --cor-verde-escuro: #106da7;
    --cor-verde-medio: #106da71a;
    --cor-azul-escuro: #010B15;
    --cor-branca: #fff;
    --cor-cinza: #c8c8c8;
    
}

.lancamentos__container {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.lancamento {
    overflow: hidden;
    border: 1px solid #106da718;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    width: 100%;
    margin-bottom: 3rem;
    border: solid 0.2rem var(--cor-verde-medio);
    background-color: var(--cor-verde-escuro);
}



.lancamento h1 {
    letter-spacing: 0.2rem;
    font-weight: 100;
}

.lancamento:nth-child(1) {
    margin-top: 0;
}
.lancamento:nth-child(2) {
    margin-top: 0;
}

.mais__lancamentos-btn, .menos__lancamentos-btn{
    height: 3.5rem;
    background: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    color: #ffffff81;
    letter-spacing: 0.1rem;
    font-weight: 100;
    font-size: 0.7rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
}

.flecha__icone {
    position: relative;
    opacity: 50%;
    animation: moveY 0.5s infinite alternate;
    width: 5rem;
    height: auto;
}

@keyframes moveY {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }
}

.borda__imagem__lancamento {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lancamento img {
    width: auto;
    height: auto;
    border-radius: 0.2rem;
    transition: transform 0.3s ease; /* Adiciona transição suave */
}

.lancamento img:hover {
    transform: scale(1.1); /* Aumenta a imagem em 10% */
}

.mais-detalhes {
    display: flex;
    align-self: flex-end;
    font-size: 0.8rem;
    margin: 0.5rem;
    color: #ffffff81;
    text-transform: lowercase;
    transition: all 0.5s ease;
}

.mais-detalhes:hover {
    color: #fff;
    cursor: pointer;
    font-size: 0.9rem;
    border-bottom: 0.1rem solid #fff;  
}

.lancamento h3 {
    align-self: self-start;
    font-size: 0.9rem;
    font-weight: 100;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.lancamento__paragrafo {
    align-self: flex-start;
    font-size: 0.8rem;
    font-weight: 100;
    text-transform: lowercase;
    color: var(--cor-branca);
    width: 80%;
    margin-bottom: 0.5rem;
    padding: 0.2rem;
    letter-spacing: 0.1rem;
    text-align: justify;
}

.lancamento__paragrafo-preco {
    position: relative;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: right;
    float: right;
}

.lancamento__paragrafo-estoque {
    display: inline-block;
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--cor-branca);
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.link__estoque {
    text-decoration: none;
}

.lancamento__btn {
    height: 2rem;
    width: 8rem;
    text-transform: uppercase;
    padding: 0.2rem;
    background-color: var(--cor-btn);
    color: var(--cor-branca);
    letter-spacing: 0.2rem;
    font-size: 0.7rem;
    font-weight: 100;
    border-radius: 0.1rem;
    border: 1px solid var(--cor-borda-btn);
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center; 
    justify-content: space-around; 
}

.lancamento__btn:hover {
    background-color: var(--cor-verde-claro);
}

.lancamento__btn a {
    text-decoration: none;
    color: white;
    font-weight: 100;

}

.container__botoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__botoes > :nth-child(1) {
    align-self: first baseline;
}

.vermail {
    font-size: 0.8rem;
    text-transform: lowercase;
    color: #ffffff81;
    transition: all 0.5s ease;
}
.vermail:hover {
    color: #fff;
    cursor: pointer;
    font-size: 0.9rem;
    border-bottom: 0.1rem solid #fff;
}

.lista_img_destaque {
    display: none;
    width: 90%;
    height: 4rem;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-verde-medio);
    gap: 1rem;
    margin: 0.3rem 0rem 0.3rem 0rem;
    padding-inline:  1rem;
    border-radius: 0.5rem;
    position: relative;
}

.img__troca {
    width: 100%;
    max-width: 200px;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin: 0 10px;
}

.img__troca.ampliada {
    transform: scale(2);
    z-index: 10;
}

.img-lista {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 5rem;
    height: auto;
}

.img-lista > img {
    width: 3rem;
    height: 10vh; 
}

/* Transições Suaves */
.hidden {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-out, max-height 0.5s ease-out;
  }
  
  .visible {
    opacity: 1;
    max-height: 500px; /* Escolha um valor que acomode a altura do conteúdo */
    transition: opacity 0.5s ease-in, max-height 0.5s ease-in;
  }
  
