@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}


:root {
    --cor-azul-claro: #D6E9F0;
    --cor-verde-escuro: #106da7;
    --cor-azul-escuro: #010B15;
    --cor-branca: #fff;
    --cor-cinza: #c8c8c8;
    
}



header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 0.1rem;
}

.container__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0.5rem;
}

.img__marca2 {
    display: none;
}

.sub__lista, .sub__item {
    display: none;
    margin-left: 1.5rem;
}

.container__v{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.v__menu {
    width: 12rem;
    height: auto;
    opacity: 10%;
}

nav {
    display: none;
}


ul li {
    cursor: pointer;
    text-transform: lowercase;
    line-height: 1.5rem;
    font-size: 1rem;
    color: var(--cor-branca);
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.2rem;
}
.icone__menu, .icone__carrinho, .icone__lupa, .icone__fecha {
    color: var(--cor-branca);
    height: 1.3rem;
    width: 1.3rem;
}

.icone__lupa {
}

ul li a {
    text-decoration: none;
    color: var(--cor-branca);
}

.sub__sol, .sub__grau {
    display: flex;
    align-items: center;
}

.icone__fecha {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 0.8rem;
    height: auto;
    margin: 0.5rem;
}

.img__marca {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: auto;
}

.v__men {
    width: 10rem;
    height: auto;
}

